<header
    class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-3 border-bottom"
>
    <a
        class="bnslogo d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none"
        href="/"
        ><img src="/img/BNS - MarkMaker Logo.png" width="100" height="auto"
    /></a>
    <form class="search-form" onsubmit="searchProducts(); return false;">
        <input
            type="search"
            id="searchkeyword"
            name="searchkeyword"
            class="form-control"
            placeholder="상품 검색하기"
            aria-label="Search"
            size="100"
            onkeyup="{autocompletes(event)}"
        />
        <div id="autocomplete-results"></div>
    </form>
    <nav class="navbar navbar-expand-lg">
        <div class="container">
            <ul
                class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0"
            >
                <button
                    class="navbar-toggler"
                    type="button"
                    data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent"
                    aria-controls="navbarSupportedContent"
                    aria-expanded="false"
                    aria-label="Toggle navigation"
                >
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div
                    class="collapse navbar-collapse"
                    id="navbarSupportedContent"
                >
                    <li class="nav-item dropdown"></li>
                    <a
                        class="btn btn-outline-dark dropdown-toggle"
                        id="navbarDropdown"
                        href="#"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        my BNS
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="myinfo">My Info</a>
                        </li>
                        <li>
                            <a class="dropdown-item" href="/myproduct"
                                >My Product</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/productregist"
                                >Product Regist</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/purchasehistory"
                                >Purchase History</a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="/salehistory"
                                >Sale History</a
                            >
                        </li>
                    </ul>
                    <button class="btn btn-outline-dark" type="submit">
                        <i class="bi-cart-fill me-1"></i>
                        Cart
                        <span class="badge bg-dark text-white ms-1 rounded-pill"
                            >0</span
                        >
                    </button>
                    <li class="nav-item">
                        <a
                            id="loginandsignup"
                            class="btn btn-outline-dark"
                            aria-current="page"
                            href="/loginandsignup"
                        >
                            Login & Create Accout
                        </a>
                    </li>
                </div>
            </ul>
        </div>
    </nav>
</header>
