<header class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-4 mb-3 border-bottom">
    <section id="search" class="search-wrap">
        <form action="/search" class="search-form">
            <input type="search" id="term" name="term" class="form-control" placeholder="검색" aria-label="Search">
        </form>
    </section>
</header>