<script>
    recommendProducts();
</script>
<body>
    <div id="recommend-Products-list-container">
        <h2 class="title">오늘의 경매</h2>
        <h4 class="subtitle">***마감임박***</h4>
        <div class="product-box" id="recommend-Products-list"></div>
    </div>
    <button
        id="chatbot_button"
        class="btn btn-outline-dark"
        type="button"
        onclick="location.href='/chatbot'"
    >
        BNS 챗봇상담
    </button>
</body>
