<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="/css/chatbot.css" />
    </head>
    <header>
        <button class="cs" type="button" onclick="location.href='/videochat'">
            BNS 상담원과 직접 영상상담을 원하시면 눌러주세요
        </button>
    </header>
    <body>
        <div class="chat-content" id="chat-content">
            <div class="line">
                <div class="chat-box">
                    BNS 인공지능 비서입니다 궁금하신 내용을 말씀해주세요
                </div>
            </div>
        </div>
        <div class="chat-input">
            <input
                class="chat-box"
                id="input"
                placeholder="예)낙찰자가 무슨 뜻인가요?"
            />
            <button id="send">전송</button>
        </div>
        <!-- <script type="module">
    import { Configuration, OpenAIApi } from 'https://cdn.skypack.dev/openai';
    // const { Configuration, OpenAIApi } = require("openai");

    document.querySelector('#send').addEventListener('click', function(){
      var template = `<div class="line">
        <span class="chat-box mine">${ document.querySelector('#input').value }</span>
      </div>`
      document.querySelector('.chat-content').insertAdjacentHTML('beforeend', template);

      const configuration = new Configuration({
        apiKey: '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',
      });
      const openai = new OpenAIApi(configuration);

      openai.createChatCompletion({
        model: "gpt-3.5-turbo",
        messages: [{role: "user", content: `${ document.querySelector('#input').value }`}],
      }).then((result) => {
        console.log(result.data.choices[0].message.content)
        var template = `<div class="line">
          <span class="chat-box">${ result.data.choices[0].message.content }</span>
        </div>`
        document.querySelector('.chat-content').insertAdjacentHTML('beforeend', template);
      })
    
    })
  </script> -->
    </body>
    <script type="module" src="/js/chatbot.js"></script>
</html>
