<!DOCTYPE html>
<html lang="en">
<head>
  
</head>
<body>
  <div id="general_product"></div>

  <button class="openBtn">상품신고</button>

  <div class="modal hidden">
    <div class="bg"></div>
    <div class="modalBox">
      신고 제목:
      <SELECT NAME=sltSample SIZE=1 id="report_title">
        <OPTION VALUE='불친절한 대응' SELECTED>불친절한 대응</OPTION>
        <OPTION VALUE='불량 상품 판매'>불량 상품 판매</OPTION>
        <OPTION VALUE='규정위반 상품'>규정위반 상품</OPTION>
        <OPTION VALUE='기타'>기타</OPTION>
      </SELECT>
      <p>신고 내용: <input type="text" id="report_content"></p>
      <button class="modal_button" type="button" onclick="reportBtn()">신고하기</button>
      <button class="closeBtn">취소</button>
    </div>
  </div>

  <div id="general_review"></div>

</body>
</html>