<script>
    getAllProducts(1);
    
    function getAllProducts(page) {
    axios
      .get(`/products`, { params: { page } })
      .then((response) => {
        let { totalPage } = response.data;
        let { data } = response.data;

        const productList = document.getElementById('product-list');
        const pageList = document.getElementById('page-num');
        pageList.innerHTML = '';
        productList.innerHTML = '';
        
        for (let i = 1; i < totalPage + 1; i++) {
          if (i === page) {
            pageList.innerHTML += `<li class="page-item active"><a class="page-link" onclick="getAllProducts(${i})" style="color: black; background-color: transparent; border-color: transparent;">${i}</a></li>`;
          } else {
            pageList.innerHTML += `<li class="page-item"><a class="page-link" onclick="getAllProducts(${i})">${i}</a></li>`;
          }
        }
  
        for (let i = 0; i < data.length; i++) {
          let image = data[i]['Images.image_url'];
          let price = data[i].product_buy_now_price || data[i].product_price || null;
            if (price === null){
                  price = ' * 경매로만 구입 가능합니다. --';
                }
          const temp = document.createElement('div');
          temp.setAttribute('class', 'product-box');
          temp.innerHTML = `
          <img class="product product-image" src="${image}" style="width: 250px;
            height: 250px;
            object-fit: cover;">
          <div class="product product-name">
            <h4>
            <div>${data[i].product_name}</div></h4>
          </div>
          <div class="product product-explanation">
            
            <div>${data[i].product_content}</div>
          </div>
          
          <div class="product product-participant">
            
            <div>${price}\\</div>
          </div>
          <div class="btn-group" style="margin-top: 2%;">
            <button type="button" class="btn btn-sm btn-outline-secondary" onclick="">자세히보기</button>
          </div>
          `;
          productList.append(temp);
        }
      })
      .catch((error) => {
        console.log(error);
      });
  }
  
    
    
  </script>
  <body>
    <div>
      <button class="btn btn-outline-success" onclick="getGeneralProducts(1)">
        일반상품
      </button>
      <button class="btn btn-outline-success" onclick="getAuctionProducts(1)">
        경매상품
      </button>
    </div>
    
  
      
    <div class="container-fluid">
        <input
          class="searchkeyword"
          id="searchkeyword"
          type="search"
          placeholder="상품명/설명/가격"
          aria-label="Search"
        />
        <button class="btn btn-outline-success" onclick="getProducts(1)">
          검색
        </button>
    </div>
    <div
        class="product-box" style="display: inline-flex;"
        id="product-list"
    ></div>
    <nav aria-label="Page navigation example">
        <ul id="page-num" class="pagination justify-content-center"></ul>
    </nav>

  </body>
