<script>
    getAllProducts(1);
    function getAllProducts(page) {
        $('#product_list').empty();
        $('#division').show();
        $('#division0').show();
        axios
            .get(`/api/search/products`, { params: { page } })
            .then((response) => {
                let { totalPage } = response.data;
                let { dataAuction } = response.data;
                let { dataGeneral } = response.data;

                const AuctionProductList =
                    document.getElementById('product-list');
                const GeneralProductList =
                    document.getElementById('product_list');
                const pageList = document.getElementById('page-num');
                pageList.innerHTML = '';
                AuctionProductList.innerHTML = '';
                GeneralProductList.innerHTML = '';

                for (let i = 1; i < totalPage + 1; i++) {
                    if (i === page) {
                        pageList.innerHTML += `<li class="page-item active"><a class="page-link" onclick="getAllProducts(${i})" style="color: black; background-color: transparent; border-color: transparent;">${i}</a></li>`;
                    } else {
                        pageList.innerHTML += `<li class="page-item"><a class="page-link" onclick="getAllProducts(${i})">${i}</a></li>`;
                    }
                }

                for (let i = 0; i < dataAuction.length; i++) {
                    let image = dataAuction[i]['Images.image_url'];
                    if (image === null) {
                        image = src = '/img/BNS - MarkMaker Logo.png';
                    }
                    let price = '';
                    if (dataAuction[i].product_buy_now_price !== null) {
                        price =
                            dataAuction[
                                i
                            ].product_buy_now_price.toLocaleString() + '원';
                    } else {
                        price = ' * 경매로만 구입 가능합니다.';
                    }
                    const temp = document.createElement('div');
                    temp.setAttribute('class', 'product-ox');
                    temp.innerHTML = `<div class="productone" style="cursor: pointer;" onclick="location.href='/auction/${dataAuction[i].auction_product_id}'">
          <img class="product product-image" src="${image}" style="width: 250px;
            height: 250px;
            object-fit: cover;">
          <div class="product product-name">
            <h4>
            <div>${dataAuction[i].product_name}</div></h4>
          </div>
          <div class="product product-explanation">
            
            <div>${dataAuction[i].product_content}</div>
          </div>
          
          <div class="product product-participant">
            
            <div>${price}</div>
          </div>
          </div>
          `;
                    AuctionProductList.append(temp);
                }

                for (let i = 0; i < dataGeneral.length; i++) {
                    let image = dataGeneral[i]['Images.image_url'];
                    if (image === null) {
                        image = src = '/img/BNS - MarkMaker Logo.png';
                    }
                    let price =
                        dataGeneral[i].product_price.toLocaleString() + '원';
                    const temp = document.createElement('div');
                    temp.setAttribute('class', 'product-ox');
                    temp.innerHTML = `<div class="productone" style="cursor: pointer;" onclick="location.href='/general/${dataGeneral[i].general_product_id}'">
          <img class="product product-image" src="${image}" style="width: 250px;
            height: 250px;
            object-fit: cover;">
          <div class="product product-name">
            <h4>
            <div>${dataGeneral[i].product_name}</div></h4>
          </div>
          <div class="product product-explanation">
            
            <div>${dataGeneral[i].product_content}</div>
          </div>
          
          <div class="product product-participant">
            
            <div>${price}</div>
          </div>
          </div>
          `;
                    GeneralProductList.append(temp);
                }
            })
            .catch((error) => {
                console.log(error);
            });
    }
</script>
<body>
    <div style="margin-left: 20px">
        <button class="outline-success" onclick="getGeneralProducts(1)">
            일반상품
        </button>
        <button class="outline-success" onclick="getAuctionProducts(1)">
            경매상품
        </button>
        <button class="outline-success" onclick="getAllProducts(1)">
            전체상품
        </button>
    </div>
    <div id="division" class="division">경매 상품</div>
    <div
        class="product-ox"
        style="display: inline-flex"
        id="product-list"
    ></div>
    <div id="division0" class="division0">일반 상품</div>
    <div
        class="product-ox"
        style="display: inline-flex"
        id="product_list"
    ></div>

    <nav aria-label="Page navigation example">
        <ul id="page-num" class="pagination justify-content-center"></ul>
    </nav>
</body>
