<body>
    <form>
        <div>
            <label for="input_title1">상품명</label>
            <div>
                <input id="input_title1" type="text" placeholder="상품명을 입력하세요" required>
            </div>
        </div>
        <div>
            <label for="input_title1">카테고리</label>
            <div>
                <input id="input_title1" type="text" placeholder="상품명을 입력하세요" required>
            </div>
        </div>
        <div>
            <label for="input_title1">상품설명</label>
            <div>
                <input id="input_title1" type="text" placeholder="상품명을 입력하세요" required>
            </div>
        </div>
        <div>
            <label for="input_start_price">시작가</label>
            <div>
                <input id="input_title1" type="text" placeholder="상품명을 입력하세요" required>
            </div>
        </div>
        
        <div>
            <label for="input_title1">즉시구매가</label>
            <div>
                <input id="input_title1" type="text" placeholder="상품명을 입력하세요" required>
            </div>
        </div>
        <div>
            <label for="input_title1">경매시작일</label>
            <div>
                <input id="input_title1" type="text" placeholder="상품명을 입력하세요" required>
            </div>
        </div>
        <div>
            <label for="input_title1">경매종료일</label>
            <div>
                <input id="input_title1" type="text" placeholder="상품명을 입력하세요" required>
            </div>
        </div>
    </form>
</body>