<body>
    <div
        class="product-ox" style="display: inline-flex;"
        id="product-search-list"
    ></div>
    <div
        class="product-ox" style="display: inline-flex;"
        id="product-search_list"
    ></div>
    <nav aria-label="Page navigation example">
        <ul id="page-search-num" class="pagination justify-content-center"></ul>
    </nav>
</body>