<body>
    <div
        class="product-box" style="display: inline-flex;"
        id="product-list"
    ></div>
    <div
        class="product-box" style="display: inline-flex;"
        id="product_list"
    ></div>
    <nav aria-label="Page navigation example">
        <ul id="page-num" class="pagination justify-content-center"></ul>
    </nav>
</body>