<body>
    <div id="division" class="division">경매 상품</div>
    <div
        class="product-ox"
        style="display: inline-flex"
        id="product-search-list"
    ></div>
    <div id="division0" class="division0">일반 상품</div>
    <div
        class="product-ox"
        style="display: inline-flex"
        id="product-search_list"
    ></div>
    <nav aria-label="Page navigation example">
        <ul id="page-search-num" class="pagination justify-content-center"></ul>
    </nav>
</body>
