/* 신고하기 모달 css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 200px;
  padding: 15px;
}

.modalBox button {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* 입찰하기 모달 css */

.modalBid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBid .bgBid {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBoxBid {
  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 400px;
  padding: 15px;
}

.modalBoxBid button {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.hiddenBid {
  display: none;
}

/* 본문 CSS */
.product_region {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

.product_area {
  margin-left: 30px;
}

.button_region {
  width: 800px;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.button_area {
  margin-left: 180px;
  margin-bottom: 50px;
}

#countdown {
  margin-left: 12px;
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bolder;
}

.button_1 {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  background-color: antiquewhite;
}

.openBtnBid {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  background-color: antiquewhite;
}

.openBtn {
  width: 150px;
  height: 50px;
  border: none;
  font-size: 20px;
  font-weight: bolder;
  background-color: antiquewhite;
}

#purchase_btn {
  background-color: green;
  float: left;
  margin-right: 7px;
}

/* 채팅창 CSS */
#container {
  width: 500px;
  height: 500px;
  border: 1px solid black;
  background-color: grey;
}

#chat_view {
  height: 90%;
  overflow-y: scroll;
}

#msg {
  width: 80%;
  height: 32px;
  border-radius: 8px;
}

#send {
  width: 16%;
  height: 34px;
  border-radius: 50px;
  background: black;
  color: white;
}

.msg_line {
  margin: 15px;
}

.msg_box {
  border: 1px solid black;
  background: white;
  padding: 2px 5px;
  border-radius: 10px;
}