/* 신고하기 모달 css */
.modal {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modal .bg {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBox {
  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 200px;
  padding: 15px;
}

.modalBox button {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.hidden {
  display: none;
}

/* 입찰하기 모달 css */

.modalBid {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.modalBid .bgBid {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.6);
}

.modalBoxBid {
  position: absolute;
  background-color: #fff;
  width: 400px;
  height: 200px;
  padding: 15px;
}

.modalBoxBid button {
  display: block;
  width: 80px;
  margin: 0 auto;
}

.hiddenBid {
  display: none;
}