header {
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.chat-content {
    width: 500px;
    height: 350px;
    overflow-y: scroll;
    display: flex;
    align-content: center;
    flex-direction: column;
    margin: auto;
    background-color: rgb(221, 232, 249);
    margin-bottom: 20px;
}

.line {
    margin-top: 10px;
    display: flex;
    margin-right: auto;
    padding: 5px;
}

.line_mine {
    margin-top: 10px;
    display: flex;
    margin-left: auto;
    padding: 5px;
}

.chat-box {
    background: #ffffff;
    padding: 5px;
    max-width: 200px;
}

.mine {
    background: yellow;
    margin-left: auto;
    padding: 5px;
}

.chat-input {
    position: relative;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.cs {
    height: 60px;
    margin: auto;
}

#input {
    width: 400px;
    height: 30px;
}
