.mypageCard {
    width: 500px;
    margin: 0 auto;
    border-radius: 6px;
    background-color: #f6f5f0;
    color: #000000;
}
.mypageCard div {
    padding: 30px 22px;
}
.mypageCard div input {
    width: 100%;
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
}
.mypageCard div button {
    margin-bottom: 12px;
    padding: 15px;
    border: 1px solid #ddd;
}
