.product-box {
    margin: 20px;
    padding: 20px;
    border: 1px solid #ccc;
    box-shadow: 2px 2px 5px #ccc;
    background-color: #fff;
    width: 250px;
    display: inline-flex;
    flex-direction: column;
    flex: 0 0 auto;
    margin-right: 10px;
}

.product-box:hover {
    border: 1px solid #008080;
    box-shadow: 2px 2px 5px #008080;
}

.product-image {
    width: 100%;
    height: 200px;
    object-fit: cover;
    margin-bottom: 10px;
}

.product-name {
    font-weight: bold;
    font-size: 1.2rem;
    margin-bottom: 5px;
}

.product-explanation {
    font-size: 1rem;
    margin-bottom: 10px;
}

.product-participant {
    font-size: 1rem;
    margin-bottom: 5px;
}

.btn-group {
    display: flex;
    justify-content: center;
    margin-top: 10px;
}

.btn-outline-secondary {
    color: #008080;
    border-color: #008080;
    margin-right: 10px;
}

.btn-outline-secondary:hover {
    background-color: #008080;
    color: #fff;
}
#recommend-Products {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

#recommend-Products-list {
    display: contents;
    flex-wrap: nowrap;
    overflow-x: scroll;
    justify-content: center;
    flex-direction: row;
    white-space: nowrap;
    width: 100%;
}

#recommend-Products-list-container {
    text-align: center;
    display: inline-grid;
    margin-right: 50px;
}

.productone:hover {
    border: 1px solid #008080;
    box-shadow: 2px 2px 5px #008080;
}

.productone {
    margin: 20px;
    padding: 10px;
    box-shadow: 2px 2px 5px #ccc;
}

.outline-success {
    background-color: #fff;
    color: #000;
    border: 2px solid #000;
    border-radius: 30px;
    padding: 10px 20px;
    margin-right: 10px;
    cursor: pointer;
    transition: all 0.3s ease;
}
.outline-success:hover {
    background-color: #000;
    color: #fff;
    border: 2px solid #fff;
}

.modal-backdrop {
    opacity: 0 !important;
}

#logModal.show .modal-content {
    position: fixed;
    left: 10px;
    bottom: 10px;
    background-color: rgb(35, 172, 203, 0.5);
    width: 500px;
}
