<body>
    <div class="a_tag">
        <a href="#" class="openBtn">상품신고 🚨</a>
        <hr />
    </div>
    <div id="general_product"></div>

    <div class="modal hidden">
        <div class="bg"></div>
        <div class="modalBox">
            신고 제목:
            <select name="sltSample" size="1" id="report_title">
                <option value="불친절한 대응" selected>불친절한 대응</option>
                <option value="불량 상품 판매">불량 상품 판매</option>
                <option value="규정위반 상품">규정위반 상품</option>
                <option value="기타">기타</option>
            </select>
            <p>
                신고 내용:
                <input type="text" id="report_content" />
            </p>
            <button class="modal_button" type="button" onclick="reportBtn()">
                신고하기
            </button>
            <button class="closeBtn">취소</button>
        </div>
    </div>

    <div id="general_review" class="review_region">
        <h2>리뷰<input type="text" id="review_count" readonly /></h2>
    </div>
    <script
        type="text/javascript"
        src="../../js/generalProductDetail.js"
    ></script>
    <link rel="stylesheet" href="../../css/generalProductDetail.css" />
</body>
