<body>
    <div id="confirm_pwd_div">
        <input id="user_password" type="password" />
        <button onclick="confirmPwd()" class="btn btn-outline-secondary">
            비밀번호 확인
        </button>
    </div>
    <div id="myinfomation"></div>
</body>
