<script>
    $(document).ready(function () {
        if (!checkAccessToken()) {
            alert('로그인 후 이용 가능합니다.');
            window.location.href = '/';
        }
    });
</script>
<link rel="stylesheet" href="../../css/mypage.css" />
<body>
    <section>
        <div class="mypageCard">
            <div id="confirm_pwd">
                <input
                    id="user_password"
                    type="password"
                    placeholder="비밀번호를 입력하세요."
                    onkeyup="if(window.event.keyCode==13){confirmPwd()}"
                />
                <button
                    onclick="confirmPwd()"
                    class="btn btn-outline-secondary"
                >
                    입력하기
                </button>
            </div>
            <div id="myinfomation"></div>
        </div>
    </section>
</body>
