<script>
    $(document).ready(function () {
        getPurchaseHistory();
    });
</script>
<body>
    <div id="purchaseHistory">
        <div id="my_purchase_history">
            경매 상품
            <div id="my_auction_product_purchase_history"></div>
            <hr />
            일반 상품
            <div id="my_general_product_purchase_history"></div>
        </div>
    </div>
</body>
