<body>
    <div id="saleHistory">
        <div id="my_sale_history">
            경매 상품
            <div id="my_auction_product_sale_history"></div>
            <hr />
            일반 상품
            <div id="my_general_product_sale_history"></div>
        </div>
    </div>
</body>
<script>
    $(document).ready(function () {
        if (!checkAccessToken()) {
            alert('로그인 후 이용 가능합니다.');
            window.location.href = '/';
        }
        getSaleHistory();
    });
</script>
